.container_boxe1_dentro_de_boxe {
    position: relative;
    box-sizing: border-box;
    margin: 32px 0px 40px 32px;
    padding: 0px 16px 8px 6px;
    border-radius: 5px;
    transition: all 0.3;
    background-color: #d8e783;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked ~ label {
        background: url(img/icons8-minus-close_white.png) left 5px top 9px no-repeat;
        transition: all 0.25s ease-out;
    }

    input[type=checkbox]:checked ~ .doc_container {
        display: block;
        transition: all 0.25s ease-out;
    }

    label {
        width: 100%;
        height: 40px;
        background: url(img/icons8-plus-open_white.png) left 5px top 9px no-repeat;
        position: relative;
        background-size: 18px;
        display: block;
        left: -7px;
    }

    .text-box{
        min-width: 200px;
        font-family: $font-nunito-sans-black;
        font-size: 14px;
        color: #62883b;
        position: absolute;
        left: 28px;
        top: 10px;
    }
    .line-box{
        border-left: 2px solid #FFF;
        margin-left: 6px
    }

    .doc_container {
        position: relative;
        padding: 16px;
        box-sizing: border-box;
        display: none;
    }
    
    &.artes {
        background-color: #d8e783;

        .text-box {
            color: #62883b;
        }
    }
    &.lingua_inglesa {
        background-color: #d8e783;

        .text-box {
            color: #62883b;
            
        }
    }
    &.lingua_portuguesa {
        background-color: #d8e783;

        .text-box {
            color: #62883b;
            
        }
    }
    &.matematica {
        background-color: #FAEDBC;

        .text-box {
            color: #C09100 ;
            
        }
    }

  /* media query */
  @media only screen and (min-width: $phone-max-width) {
    &._left {
        float: left;
        clear: left;
        width: 33%;
        z-index: 1;
    }
    &._right {
        float: right;
        clear: right;
        width: 33%;
        z-index: 1;
    }
  }
}