.css_01_titulo_cap_num {
  color: $por_cor3;
  font-size: 30px;
  z-index: 1;
  font-family: 'Barlow Condensed';
  font-weight: 600;
  margin: 0px;
  letter-spacing: 0.5px;
  display: flex;

  &.artes {
    color: $art_cor3;
  }

  &.lingua_inglesa {
    color: $ing_cor3;
  }

  &.lingua_portuguesa {
    color: $por_cor3;
  }

  &.matematica {
    color: $mat_cor3;
  }
}