.css_01_titulo4 {
  display: block;
  font-family: $font-montserrat-extrabold;
  font-size: 20px;
  color: #000;
  opacity: 1;
  margin-top: 48px;
  padding: 0px;
  margin-bottom: 16px;
  line-height: 1.5em;
}