.css_00_licenciamento_texto_terceiro {
  display: block;  
  font-family: $font-ptsans;
  font-size: 14px;
  color: #69880d;
  background-color: #E3F0E2;
  margin: 16px 8px 16px 8px;
  padding: 8px;
}