.css_01_titulo_unid {
  display: block;
  color: $title-color;
  font-size: 100px;
  font-family: $font-barlow-condensed-bold;
  margin: 0px;
  padding: 0px 0px 16px 0px;

  &.artes {
    color: #64428C !important;
  }

  &.lingua_inglesa {
    color: #069891 !important;
  }

  &.lingua_portuguesa {
    color: #C51A1B !important;
  }

  &.matematica {
    color: #1961AC !important;
  }
}