.css_03_exercicio_continuacao {
  display: block;
  font-family: $font-noticia-text-regular;
  line-height: 1.5em;
  font-size: 18px;
  margin: 12px 0px 0px 64px;
  color: $textColor;
  line-height: 1.5em;
}