.css_06_boxe_mais {
  border: 3px solid #ccc;
  font-size: 18px;
  text-align: left;
  position: relative;
  padding: 38px 16px 24px 16px;
  margin: 48px 0px 40px 0px;
  font-family: $font-proximaNova-light;

  &:before {
    content: '';
    background: url(img/css_06_boxe_mais.png);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -20px;
    z-index: 9;
    background-size: contain;
  }

  &:after {
    content: 'Mais';
    height: 44px;
    position: absolute;
    border: 3px solid #ccc;
    background-color: #444;
    left: -3px;
    top: -26px;
    color: #fff;
    text-align: right;
    line-height: 16px;
    padding: 10px 10px 10px 36px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 20px;
    font-family: $font-prelo-extraBold;
  }

  &.artes {
    border-color: #C8D300;

    &:after {
      background-color: #84A214;
      border-color: #C8D300;
    }
  }

  &.biologia {
    border-color: #F7A941;

    &:after {
      background-color: #BD8432;
      border-color: #F7A941;
    }
  }

  &.filosofia {
    border-color: #8CCAAE;

    &:after {
      background-color: #208F6D;
      border-color: #8CCAAE;
    }
  }

  &.fisica {
    border-color: #F7A941;

    &:after {
      background-color: #BD8432;
      border-color: #F7A941;
    }
  }

  &.geografia {
    border-color: #8CCAAE;

    &:after {
      background-color: #208F6D;
      border-color: #8CCAAE;
    }
  }

  &.historia {
    border-color: #8CCAAE;

    &:after {
      background-color: #208F6D;
      border-color: #8CCAAE;
    }
  }

  &.lingua_inglesa {
    border-color: #C8D300;

    &:after {
      background-color: #84A214;
      border-color: #C8D300;
    }
  }

  &.lingua_portuguesa {
    border-color: #C8D300;

    &:after {
      background-color: #84A214;
      border-color: #C8D300;
    }
  }

  &.matematica {
    border-color: #F1CB40;

    &:after {
      background-color: #C09100;
      border-color: #F1CB40;
    }
  }

  &.producao_de_texto {
    border-color: #C8D300;

    &:after {
      background-color: #84A214;
      border-color: #C8D300;
    }
  }

  &.quimica {
    border-color: #F7A941;

    &:after {
      background-color: #BD8432;
      border-color: #F7A941;
    }
  }

  &.sociologia {
    border-color: #8CCAAE;

    &:after {
      background-color: #208F6D;
      border-color: #8CCAAE;
    }
  }
}