.css_03_exercicio_alternativa {
  display: block;
  font-family: $font-noticia-text-regular;
  color: $textColor;
  line-height: 1.5em;
  font-size: 18px;
  float: left;
  margin: 16px 0px 16px 0px;
}