.css_03_item_alinhamento_1 {
  display: block;
  font-family: $font-noticia-text-regular;
  font-weight: 700;
  color: $textColor;
  font-size: 18px;
  float: left;
  margin: 0px 8px 0px 0px;
  padding: 0 0 0px;
}