/* Container component style*/
.css_07_boxe2 {
    margin: 16px 0px 16px 108px;
    padding: 4px 16px 4px 0px;
    clear: both;
    border-radius: 10px;
    background-color: #EFDDEC;

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    /* class styles for the options properties of the container component */
    &.artes {
        background-color: #ECF0A6 !important;
    }

    &.biologia {
        background-color: #FCE1BC !important;
    }

    &.filosofia {
        background-color: #D7EDE3 !important;
    }

    &.fisica {
        background-color: #FCE1BC !important;
    }

    &.geografia {
        background-color: #D7EDE3 !important;
    }

    &.historia {
        background-color: #D7EDE3 !important;
    }

    &.lingua_inglesa {
        background-color: #ECF0A6 !important;
    }

    &.lingua_portuguesa {
        background-color: #ECF0A6 !important;
    }

    &.matematica {
        background-color: #FAEDBC !important;
    }

    &.producao_de_texto {
        background-color: #ECF0A6 !important;
    }

    &.quimica {
        background-color: #FCE1BC !important;
    }

    &.sociologia {
        background-color: #D7EDE3 !important;
    }

    >* {
        &:first-child {
            margin-top: 0;

            &._left {
                +._right {
                    margin-top: 0;
                    padding: 0 68 0 16px;
                }
            }

            &._right {
                +._left {
                    margin-top: 0;
                    padding: 0 16 0px;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &._left {
            +._right:last-child {
                margin-bottom: 20px;
                padding: 0 68 0 16px;
            }
        }

        &._right {
            +._left:last-child {
                margin-bottom: 20px;
                padding: 0 16 0px;
            }
        }
    }

    /* media query */
    @media only screen and (min-width: $phone-max-width) {
        &._left {
            float: left;
            clear: left;
            width: 50%;
            margin-left: 0px;
            margin-right: 24px;
            z-index: 1;
        }

        &._right {
            float: right;
            clear: right;
            width: 50%;
            margin-left: 24px;
            margin-right: 0px;
            z-index: 1;
        }
    }
}