.css_01_titulo_cap_num {
  color: $por_cor3;
  font-size: 30px;
  z-index: 1;
  font-family: 'Barlow Condensed';
  font-weight: 600;
  margin: 0px;
  letter-spacing: 0.5px;
  display: flex;

  &.artes {
    color: $art_cor3;
  }

  &.lingua_inglesa {
    color: $seg_lin_cor1;
  }

  &.lingua_portuguesa {
    color: $seg_lin_cor1;
  }

  &.matematica {
    color: $seg_mat_cor1;
  }

  &.linguagens {
    color: $seg_lin_cor1;
  }

  &.ciencias_natureza {
    color: $cnz_cor3;
  }

  &.ciencias_humanas {
    color: $cnh_cor3;
  }
}