.css_01_titulo2 {
  font-size: 26px;
  color: $title-color;
  font-family: $font-montserrat-extrabold;
  margin-top: 48px;
  padding: 0px;
  margin-bottom: 16px;
  line-height: 1.5em;

  &.artes {
    color: #64428C !important;
  }

  &.lingua_inglesa {
    color: #069891 !important;
  }

  &.lingua_portuguesa {
    color: #C51A1B !important;
  }

  &.matematica {
    color: #1961AC !important;
  }
}