.css_03_exercicio_citado_titulo {
  font-family: $font-noticia-text-bold;
  color: $textColor;
  line-height: 1.5em;
  font-size: 20px;
  margin: 24px 0px 16px 80px;
  padding: 0px;
  display: block;
}