.css_06_boxe_watch_out {
    float: left;
    position: relative;
    box-sizing: border-box;
    margin: 32px 0px 56px 0px;
    width: 83.5%;
    min-height: 50px;
    background: linear-gradient(180deg, rgba(252, 225, 188, 1) 25%, rgba(255, 255, 255, 1) 100%);

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked~label {
        background: url(img/icon-box-collapsed-open.png) right -3px no-repeat;
        transition: all 0.25s ease-out;
    }

    input[type=checkbox]:checked~.txt_boxe_collapsed {
        transition: all 0.25s ease-out;
        display: block;
    }

    label {
        width: 100%;
        height: 40px;
        background: url(img/icon-box-collapsed-close.png) right -3px no-repeat;
        position: relative;
        float: left;

        &:before {
            content: 'Watch out';
            font-family: $font-prelo-extraBold;
            font-size: 20px;
            color: #BD8432;
            position: absolute;
            left: 50px;
            top: 10px;
        }

        &:after {
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            left: 14px;
            background-size: contain !important;
            background-repeat: no-repeat;
            background-position: center;
            top: 8px;
            background-image: url(img/css_06_boxe_fique_ligado_artes.png);
        }
    }

    .txt_boxe_collapsed {
        position: relative;
        float: left;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        font-family: $font-proximaNova-light;
        font-size: 16px;
        display: none;
    }

    &.artes {
        background: linear-gradient(180deg, rgb(220, 228, 194) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #84A214;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_artes.png);
            }
        }
    }

    &.biologia {
        background: linear-gradient(180deg, rgba(252, 225, 188, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #BD8432;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_biologia.png);
            }
        }
    }

    &.filosofia {
        background: linear-gradient(180deg, rgba(215, 237, 227, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #208F6D;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_filosofia.png);
            }
        }
    }

    &.fisica {
        background: linear-gradient(180deg, rgba(252, 225, 188, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #BD8432;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_fisica.png);
            }
        }
    }

    &.geografia {
        background: linear-gradient(180deg, rgba(215, 237, 227, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #208F6D;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_geografia.png);
            }
        }
    }

    &.historia {
        background: linear-gradient(180deg, rgba(215, 237, 227, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #208F6D;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_historia.png);
            }
        }
    }

    &.lingua_inglesa {
        background: linear-gradient(180deg, rgb(220, 228, 194) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #84A214;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_lingua_inglesa.png);
            }
        }
    }

    &.lingua_portuguesa {
        background: linear-gradient(180deg, rgb(220, 228, 194) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #84A214;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_lingua_portuguesa.png);
            }
        }
    }

    &.matematica {
        background: linear-gradient(180deg, rgba(250, 237, 188, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #C09100;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_matematica.png);
            }
        }
    }

    &.producao_de_texto {
        background: linear-gradient(180deg, rgb(220, 228, 194) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #84A214;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_producao_de_texto.png);
            }
        }
    }

    &.quimica {
        background: linear-gradient(180deg, rgba(252, 225, 188, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #BD8432;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_quimica.png);
            }
        }
    }

    &.sociologia {
        background: linear-gradient(180deg, rgba(215, 237, 227, 1) 25%, rgba(255, 255, 255, 1) 100%);

        label {
            &:before {
                color: #208F6D;
            }

            &:after {
                background-image: url(img/css_06_boxe_fique_ligado_sociologia.png);
            }
        }
    }
}