.css_02_texto_bullet {
  ul li {
    font-size: 18px;
    color: $textColor;
    font-family: $font-noticia-text-regular;
    margin: 8px 68px 8px 0px;
    line-height: 1.5em;
    padding-left: 4px;
  }
}