.css_06_boxe_experimento {
  font-size: 18px;
  text-align: left;
  position: relative;
  padding: 38px 16px 24px 16px;
  box-sizing: border-box;
  margin: 30px 0px 10px 0px;
  box-shadow: inset 0px 0px 0px 3px #ccc;
  font-family: $font-proximaNova-light;

  &:before {
    content: '';
    background: url(img/css_06_boxe_experimento.png);
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: -20px;
    z-index: 9;
    background-size: contain;
  }

  &:after {
    content: 'Experimento';
    height: 44px;
    position: absolute;
    border: 3px solid #ccc;
    background-color: #444;
    left: 0px;
    top: -26px;
    color: #fff;
    text-align: left;
    line-height: 16px;
    padding: 10px 10px 10px 36px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 20px;
    width: 100%;
    font-family: $font-prelo-extraBold;
  }

  &.artes {
    box-shadow: inset 0px 0px 0px 3px #84A214;
    background-color: #F7F9D9;

    &:after {
      background: linear-gradient(90deg, rgba(200, 211, 0, 1) 0%, rgba(132, 162, 20, 1) 100%);
      border-color: #84A214;
    }
  }

  &.biologia {
    box-shadow: inset 0px 0px 0px 3px #BD8432;
    background-color: #FEF2E3;

    &:after {
      background: linear-gradient(90deg, rgba(247, 169, 65, 1) 0%, rgba(189, 132, 50, 1) 100%);
      border-color: #BD8432;
    }
  }

  &.filosofia {
    box-shadow: inset 0px 0px 0px 3px #208F6D;
    background-color: #EEF7F3;

    &:after {
      background: linear-gradient(90deg, rgba(140, 202, 174, 1) 0%, rgba(32, 143, 109, 1) 100%);
      border-color: #208F6D;
    }
  }

  &.fisica {
    box-shadow: inset 0px 0px 0px 3px #BD8432;
    background-color: #FEF2E3;

    &:after {
      background: linear-gradient(90deg, rgba(247, 169, 65, 1) 0%, rgba(189, 132, 50, 1) 100%);
      border-color: #BD8432;
    }
  }

  &.geografia {
    box-shadow: inset 0px 0px 0px 3px #208F6D;
    background-color: #EEF7F3;

    &:after {
      background: linear-gradient(90deg, rgba(140, 202, 174, 1) 0%, rgba(32, 143, 109, 1) 100%);
      border-color: #208F6D;
    }
  }

  &.historia {
    box-shadow: inset 0px 0px 0px 3px #208F6D;
    background-color: #EEF7F3;

    &:after {
      background: linear-gradient(90deg, rgba(140, 202, 174, 1) 0%, rgba(32, 143, 109, 1) 100%);
      border-color: #208F6D;
    }
  }

  &.lingua_inglesa {
    box-shadow: inset 0px 0px 0px 3px #84A214;
    background-color: #F7F9D9;

    &:after {
      background: linear-gradient(90deg, rgba(200, 211, 0, 1) 0%, rgba(132, 162, 20, 1) 100%);
      border-color: #84A214;
    }
  }

  &.lingua_portuguesa {
    box-shadow: inset 0px 0px 0px 3px #84A214;
    background-color: #F7F9D9;

    &:after {
      background: linear-gradient(90deg, rgba(200, 211, 0, 1) 0%, rgba(132, 162, 20, 1) 100%);
      border-color: #84A214;
    }
  }

  &.matematica {
    box-shadow: inset 0px 0px 0px 3px #C09100;
    background-color: #FDF7E2;

    &:after {
      background: linear-gradient(90deg, rgba(241, 203, 64, 1) 0%, rgba(192, 145, 0, 1) 100%);
      border-color: #C09100;
    }
  }

  &.producao_de_texto {
    box-shadow: inset 0px 0px 0px 3px #84A214;
    background-color: #F7F9D9;

    &:after {
      background: linear-gradient(90deg, rgba(200, 211, 0, 1) 0%, rgba(132, 162, 20, 1) 100%);
      border-color: #84A214;
    }
  }

  &.quimica {
    box-shadow: inset 0px 0px 0px 3px #BD8432;
    background-color: #FEF2E3;

    &:after {
      background: linear-gradient(90deg, rgba(247, 169, 65, 1) 0%, rgba(189, 132, 50, 1) 100%);
      border-color: #BD8432;
    }
  }

  &.sociologia {
    box-shadow: inset 0px 0px 0px 3px #208F6D;
    background-color: #EEF7F3;

    &:after {
      background: linear-gradient(90deg, rgba(140, 202, 174, 1) 0%, rgba(32, 143, 109, 1) 100%);
      border-color: #208F6D;
    }
  }
}