.css_03_exercicio_resolvido_item {
  display: block;
  font-family: $font-noticia-text-regular;
  line-height: 1.5em;
  font-size: 18px;
  color: $textColor;
  float: left;
  margin: 10 0 0 110px;
  padding: 0px;
}