.css_03_exercicio_bullet_sub {
  display: block;
  font-family: $font-noticia-text-regular;
  color: $textColor;
  line-height: 1.5em;
  font-size: 18px;
  margin: 16px 0px 16px 130px;

  ul li {
    padding-left: 0px;
  }
}