.css_03_exercicio_resolvido_bullet {
  display: block;
  font-family: $font-noticia-text-regular;
  line-height: 1.5em;
  font-size: 18px;
  color: $textColor;
  margin: 16px 0 16px 40px;
  padding: 0px;

  ul li {
    padding-left: 0px;
  }
}