.marcador_pagina {
  padding: 0px;
  margin: 16px 0px 16px;
  clear: both;
  display: flex;
  justify-content: flex-end;
  &::after {
      content: '';
      display: block;
      clear: both;
  }

  &.leftDe{
    justify-content: flex-start;

    .text-read2{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-right: 1px solid #dddddd;
        border-left: none;
    }
  }

  &.rightDe{
    justify-content: flex-end;

  }

  .text-read2{
    font-size: 12px;
    color: $textColor;
    width: 30px;
    text-align: center;
    padding: 15px 0px;
    font-family: montserrat;
    font-weight: 700;
    background-color: #f4f4f4;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: none;
    border-bottom: 1px solid #dddddd;
  }
  > * {
      &:first-child {
          margin-top: 0;
          &._left {
              + ._right {
                  margin-top: 0;
              }
          }
          &._right {
              + ._left {
                  margin-top: 0;
              }
          }
      }
      &:last-child {
          margin-bottom: 0;
      }
      &._left {
          + ._right:last-child {
              margin-bottom: 20px;
          }
      }
      &._right {
          + ._left:last-child {
              margin-bottom: 20px;
          }
      }
  }
  
/* media query */
  @media only screen and (min-width: $phone-max-width) {
      &._left {
          float: left;
          clear: left;
          width: 50%;
          z-index: 1;
      }
      &._right {
          float: right;
          clear: right;
          width: 50%;
          z-index: 1;

      }
  }
}