.primeira_paginas {
    padding: 0px;
    margin: 16px 0px 16px;
    clear: both;
    display: block;
    float:right;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
  
    &.leftDe{
      float: left;
  
      .textRead2{
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-left: none;
          border-right: 1px solid #dddddd;
      }
    }
  
    &.rightDe{
      float: right;
  
    }
  
    .textRead2{
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 120px;
      padding: 5px;
      background-color: #f4f4f4;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top: 1px solid #dddddd;
      border-left: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      box-sizing: border-box;
      
      .sep{
        font-size: 9px;
      }

      h2{
        font-size: 12px;
        font-family: montserrat;
        font-weight: 700;
        text-align: center;
        padding: 0px 10px;
        margin: 0px;
      }
    }
  
    &.lingua_inglesa {
      .textRead2
      {
       background-color: $teoria;
       color: $ing_cor1; 
       border-top: 2px solid $ing_cor1;
       border-left: 2px solid $ing_cor1;
       border-bottom: 2px solid $ing_cor1;
      }
      &.leftDe{
          .textRead2{
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-right: 2px solid $ing_cor1;
              border-left: none;
          }
      }
  }
  &.lingua_portuguesa {
      .textRead2
      {
       background-color: $teoria;
       color: $por_cor1; 
       border-top: 2px solid $por_cor1;
       border-left: 2px solid $por_cor1;
       border-bottom: 2px solid $por_cor1;
      }
      &.leftDe{
          .textRead2{
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-right: 2px solid $por_cor1;
              border-left: none;
          }
      }
  }
  &.matematica {
      .textRead2
      {
       background-color: $teoria;
       color: $mat_cor1; 
       border-top: 2px solid $mat_cor1;
       border-left: 2px solid $mat_cor1;
       border-bottom: 2px solid $mat_cor1;
      }
      &.leftDe{
          .textRead2{
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-right: 2px solid $mat_cor1;
              border-left: none;
          }
      }
  }
  &.linguagens {
      .textRead2
      {
       background-color: $teoria;
       color: $ling_cor1; 
       border-top: 2px solid $ling_cor1;
       border-left: 2px solid $ling_cor1;
       border-bottom: 2px solid $ling_cor1;
      }
      &.leftDe{
          .textRead2{
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-right: 2px solid $ling_cor1;
              border-left: none;
          }
      }
  }
  &.ciencias_natureza {
      .textRead2
      {
       background-color: $teoria;
       color: $cnz_cor1; 
       border-top: 2px solid $cnz_cor1;
       border-left: 2px solid $cnz_cor1;
       border-bottom: 2px solid $cnz_cor1;
      }
      &.leftDe{
          .textRead2{
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-right: 2px solid $cnz_cor1;
              border-left: none;
          }
      }
  }
  &.ciencias_humanas {
      .textRead2
      {
       background-color: $teoria;
       color: $cnh_cor1; 
       border-top: 2px solid $cnh_cor1;
       border-left: 2px solid $cnh_cor1;
       border-bottom: 2px solid $cnh_cor1;
      }
      &.leftDe{
          .textRead2{
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-right: 2px solid $cnh_cor1;
              border-left: none;
          }
      }
  }
  
    > * {
        &:first-child {
            margin-top: 0;
            &._left {
                + ._right {
                    margin-top: 0;
                }
            }
            &._right {
                + ._left {
                    margin-top: 0;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &._left {
            + ._right:last-child {
                margin-bottom: 20px;
            }
        }
        &._right {
            + ._left:last-child {
                margin-bottom: 20px;
            }
        }
    }  
  /* media query */
    @media only screen and (min-width: $phone-max-width) {
        &._left {
            float: left;
            clear: left;
            width: 50%;
            z-index: 1;
        }
        &._right {
            float: right;
            clear: right;
            width: 50%;
            z-index: 1;
  
        }
    }
  }