<label for="modalInitial" class="open-modal">
  <input type="checkbox" id="modalInitial" class="checkbox-modal" />
  <div class="modal">
    <div class="content-modal">
      <label class="close-modal" for="modalInitial">
      </label>
      <figure class="image_modal lingua_portuguesa">
        <h1 class="image_modal__text" doc-editable="text">
          Digite o título aqui
        </h1>
        <h2 class="image_modal__text2" doc-editable="description">
          Digite o subtítulo aqui
        </h2>
      </figure>
    </div>
  </div>