<figure class="video_popup_center">
    <div class="video_popup__content">
        <a href="#"></a>
        <div class="video_popup__img" doc-image="image"></div>         
        
        <div class="content-video">
            <div class="content-video__url" doc-editable="video_url"></div>
            <div class="content-video__title" doc-editable="video_title"></div>  
            <div class="content-video__text" doc-editable="video_content"></div> 
        </div>
        
        <video autoplay id="playerDefault" controls>
        </video>
        
        <div id="playerYoutube">
            <iframe width="100%" height="" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</figure>